<h3>{{viewTitle}}</h3>

<form action="/contact" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{contact._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Name" value="{{contact.Name}}">
        <div class="text-danger">
            {{contact.NameError}}</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="Email" placeholder="Email" value="{{contact.Email}}">
        <div class="text-danger">
            {{contact.EmailError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="Mobile" placeholder="Mobile" value="{{contact.Mobile}}">
        </div>
       
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/contact/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>